<!DOCTYPE HTML>
<html lang="es">
<head>
  <title>{% block title %}Deusto Games{% endblock %}</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  {% block stylesheets %}
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
  {% endblock %}
  
  {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
  {% endblock %}
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
		<a href="{{path('d_games_homepage')}}">
		<img id="dg_logo" src="{{ asset('css/logo.png') }}" alt="">
		</a>
	  </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li {% if app.request.get('_route') == 'd_games_homepage' %} class="selected"{% endif %}><a href="{{path('d_games_homepage')}}">{% trans %}text.home{% endtrans %}</a></li>
          <!-- <li><a href="examples.html">Game Browse</a></li> -->
          <li {% if app.request.get('_route') == 'd_games_news_list' %} class="selected"{% endif %}><a href="{{path('d_games_news_list')}}">{% trans %}text.news{% endtrans %}</a></li>
		  <li {% if app.request.get('_route') == 'd_games_list' %} class="selected"{% endif %}><a href="{{path('d_games_list')}}">{% trans %}text.games{% endtrans %}</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
	  <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
		{% block sidebar %}{% endblock %}
            
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
        <!-- insert the page content here -->
		{% block body %}{% endblock %}
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
	{% block footer %}
      <p><a href="/">{% trans %}text.home{% endtrans %}</a> | <a href="contact.html">{% trans %}text.contact{% endtrans %}</a> | <a href="http://www.html5webtemplates.co.uk">Website templates</a> | <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">Español</a> | <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">English</a></p>
      <p>Copyright &copy; textured_orbs | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></p>

  {% endblock %}
    </div>
  </div>
</body>
</html>
