{# src/DGamesBundle/Resources/views/MainPage/list.html.twig #}

{% extends "DGamesBundle::layout.html.twig" %}
{% block body %}
<div class="games">
    {% for game in games |slice(0,4) %}
        <article class="game">
            <header>
                <h2><a href="{{ path('d_games_show', { 'id': game.id }) }}">{{game.title}}</a> - {{game.rate|round(2, 'common')}}/10</h2>
            </header>
			<div class="cover">
				<img class="game_cover" src="{{game.photo}}" alt="Game cover">
			</div>
             <div class="date">{% trans %}text.release_date{% endtrans %}: {{game.releasedate.format('d-m-Y')}}</div>
        </article>
    {% endfor %}
</div>
<div class="news">
	{% for new in news |slice(0,4) %}
        <article class="noticia">
            <header>
                <h2><a href="{{ path('d_games_news_show', { 'id': new.id }) }}">{{new.title}}</a></h2>
            </header>
            <div class="date">{% trans %}text.date{% endtrans %}: {{new.date.format('d-m-Y')}}</div>
			<div class="snippet">
                <p>{{ new.body|length > 200 ? new.body|slice(0, 200) ~ '...' : new.body  }}</p>
                <p class="continue"><a href="{{ path('d_games_news_show', { 'id': new.id }) }}">{% trans %}text.read{% endtrans %}</a></p>
            </div>
        </article>
    {% endfor %}
</div>
{% endblock %}

{% block title %}{% trans %}text.main{% endtrans %}{% endblock %}

{% block sidebar %}
    <h1>{% trans %}text.popular{% endtrans %}</h1>
	{% for game in top|slice(0, 4) %}
        <div><a href="{{ path('d_games_show', { 'id': game.id }) }}">{{game.title}}</a> - {{game.rate|round(2, 'common')}}/10</div>
    {% endfor %}
{% endblock %}