{# src/DGamesBundle/Resources/views/MainPage/list.html.twig #}

{% extends "DGamesBundle::layout.html.twig" %}
{% block body %}
    {% for game in games %}
        <article class="game">
            <header>
                <h2><a href="{{ path('d_games_show', { 'id': game.id }) }}">{{game.title}}</a> - {{game.rate|round(2, 'common')}}/10</h2>
            </header>
			<div class="cover">
				<img class="game_cover" src="{{game.photo}}" alt="Game cover">
			</div>
            <div class="date">{% trans %}Release Date:{% endtrans %} {{game.releasedate.format('d-m-Y')}}</div>
        </article>
    {% endfor %}
{% endblock %}

{% block title %}{% trans %}Games{% endtrans %}{% endblock %}

{% block sidebar %}
    <h1>{% trans %}4 Most Popular Games{% endtrans %}</h1>
	{% for game in top|slice(0, 4) %}
        <div><a href="{{ path('d_games_show', { 'id': game.id }) }}">{{game.title}}</a> - {{game.rate|round(2, 'common')}}/10</div>
    {% endfor %}
{% endblock %}