{% extends "DGamesBundle::layout.html.twig" %}
{% block title %}{{game.title}}{% endblock %}

{% block body %}
    <h1>{{game.title}} - {{game.rate}}/10</h1>
	
	<div class="cover"><img id="game_cover" src="{{game.photo}}" alt="Game cover"></div>

	<div class="body">
		{{game.description}}
		<section class="related" id="related_news">
			{% include 'DGamesBundle:News:listNames.html.twig' with { 'news': game.news } %}
		</section>
		
		<section class="opinions" id="opinions">
			<section class="previous-opinions">
				<h3>Opinions</h3>
				{% include 'DGamesBundle:Opinions:list.html.twig' with { 'opinions': opinions } %}
				<h3>Write an opinion</h3>
		{{ render(controller( 'DGamesBundle:Opinions:new', { 'game_id': game.id } )) }}
			</section>
		</section>
		
		<div class="date">{{game.releasedate.format('d-m-Y')}}</div>
	</div>
{% endblock %}

{% block sidebar %}
    <h1>Related News<h1>
	<section class="related" id="related_news">
			{% include 'DGamesBundle:News:listNames.html.twig' with { 'news': game.news } %}
	</section>
{% endblock %}