
{% extends "DGamesBundle::layout.html.twig" %}

{% block title %}{% trans %}text.news{% endtrans %}{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/list_news.js') }}"></script>
{% endblock %}

{% block body %}
    {% for item in news %}
        <article class="news">
            <header>
                <h2><a href="{{ path('d_games_news_show', { 'id': item.id }) }}">{{ item.title }}</a></h2>
            </header>
            <div class="date"><time datetime="{{ item.date|date('c') }}">{{ item.date|date('l, F j, Y') }}</time></div>
            
            <div class="snippet">
                <p>{{ item.body|length > 200 ? item.body|slice(0, 200) ~ '...' : item.body  }}</p>
                <p class="continue"><a href="{{ path('d_games_news_show', { 'id': item.id }) }}">{% trans %}text.read{% endtrans %}</a></p>
            </div>
        </article>
    {% else %}
        <p>{% trans %}text.no_entries{% endtrans %}</p>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <h1>{% trans %}text.popular{% endtrans %}</h1>
	{% for game in top|slice(0, 4) %}
        <div><a href="{{ path('d_games_show', { 'id': game.id }) }}">{{game.title}}</a> - {{game.rate|round(2, 'common')}}/10</div>
    {% endfor %}
{% endblock %}